<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Table</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-cols.css" />
		
		<script src="/js/jquery-2.1.3.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery.fittext.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/timer.js"></script>

		<style>
			html, body, table {
				height: 100%;
				width: 100%;
				overflow: hidden;
			}

			body {
				background-color: black;
			}


			.minimize-row {
				height: 1px;
			}

			#bannerrow {
				background-color: white;
			}

			.banner {
				padding: 0.5vh;
				max-height: 25vh;
			}

			#timer {
				text-shadow: 0 0 0.1em;
				cursor: none;
			}

			#timer #ms {
				font-size: 0.6em;
			}
		</style>

		<script>
			var socket = io({
				'sync disconnect on unload': true
			});

			var audio;
			var songs = [];
			var songi = 0;

			//+ Jonas Raoni Soares Silva
			//@ http://jsfromhell.com/array/shuffle [v1.0]
			function shuffle(o){ //v1.0
				for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
				return o;
			};


			function tween(d) {
				var t = 1 - d / defaulttime;

				var r, g;
				if (t < 0.5) {
					g = 1.0;
					r = 2 * t;
				}
				else {
					r = 1.0;
					g = 1 - 2 * (t - 0.5);
				}

				$('#timer').css('color', 'rgb(' + Math.floor(256 * r) + ', ' + Math.floor(256 * g) + ', 0)');
			}

			socket.on('resettimer', function() {
				resetTimer(tween);
				audio.pause();
				audio.currentTime = 0;
			});
			
			socket.on('starttimer', function() {
				resetTimer();

				if (audio) {
					audio.pause();
					audio.currentTime = 0;
				}

				startTimer(tween);

				audio = new Audio('/audio/' + songs[songi]);
				songi++;
				songi %= songs.length;
				audio.play();
			});

			socket.on('songs', function(data) {
				songs = shuffle(data);
			});

			$(function() {
				$('#timer').fitText(0.35);
				resetTimer(tween);

				$('body').click(function() {
					//startTimer();
				});
			});
		</script>
	</head>
	<body>
		<table>
			<tr id="bannerrow" class="minimize-row">
				<td class="text-center">
					<img class="banner pull-left" src="/img/robootika.png"></img>
					<img class="banner" src="/img/fll.jpg"></img>
					<img class="banner pull-right" src="/img/robootika.png"></img>
				</td>
			</tr>
			<tr id="timer" class="text-center">
				<td>
					<span id="min">2</span>:<span id="sec">30</span>.<span id="ms">0</span>
				</td>
			</tr> 
		</table>
		<div </div>
	</body>
</html>
