html, body, table {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	background-color: black;
}

.minimize-row {
	height: 1px;
}

#bannerrow {
	background-color: white;
}

.banner {
	padding: 0.5vh;
	max-height: 25vh;
}

#clock {
	text-shadow: 0 0 0.1em;
	cursor: none;
	background: linear-gradient(to bottom, white 0%, rgba(0, 0, 0, 0.25) 10%), url('../img/SPACE.png') center center / cover no-repeat;

	color: white;
}
